{% include base_path %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap">
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo.png">
<link rel="apple-touch-icon" href="{{ base_path }}/images/logo.png">
<meta name="theme-color" content="#ff7a00">
<script src="{{ base_path }}/assets/js/theme.js"></script>
{% if page.math %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js"></script>
{% endif %}
