{% assign seo_url = site.url | append: site.baseurl %}
{% assign canonical_url = page.url | replace: 'index.html', '' | prepend: seo_url %}
{% assign seo_title = page.title | default: site.title %}
{% assign seo_description = page.description | default: page.excerpt | default: site.description | markdownify | strip_html | strip_newlines %}
{% assign seo_image = page.header.image | default: page.header.overlay_image | default: site.og_image %}
{% unless seo_image contains '://' %}
  {% assign seo_image = seo_image | prepend: '/images/' | prepend: seo_url %}
{% endunless %}
<title>{{ seo_title | escape }}{% unless seo_title == site.title %} {{ site.title_separator }} {{ site.title | escape }}{% endunless %}</title>
<meta name="description" content="{{ seo_description | escape }}">
<link rel="canonical" href="{{ canonical_url }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ seo_title | escape }}">
<meta property="og:description" content="{{ seo_description | escape }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:image" content="{{ seo_image }}">
<meta property="og:image:alt" content="FAIR BioHeaders logo">
<meta property="og:type" content="{% if page.collection == 'publications' %}article{% else %}website{% endif %}">
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ seo_title | escape }}">
<meta name="twitter:description" content="{{ seo_description | escape }}">
<meta name="twitter:image" content="{{ seo_image }}">
<meta name="twitter:image:alt" content="FAIR BioHeaders logo">
{% if site.twitter.username %}<meta name="twitter:site" content="@{{ site.twitter.username | remove: '@' }}">{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": {{ seo_url | append: '/#organization' | jsonify }},
  "name": {{ site.name | jsonify }},
  "url": {{ seo_url | append: '/' | jsonify }},
  "description": {{ site.description | jsonify }},
  "logo": {{ site.og_image | prepend: '/images/' | prepend: seo_url | jsonify }},
  "sameAs": {{ site.social.links | jsonify }}{% if page.url == '/' %},
  "member": [
    {% for person in site.data.team %}
    {
      "@type": "Person",
      "@id": {{ person.orcid | jsonify }},
      "name": {{ person.name | jsonify }},
      "url": {{ person.orcid | jsonify }},
      "sameAs": [{{ person.orcid | jsonify }}]
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]{% endif %}
}
</script>
{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification }}">{% endif %}
{% if site.bing_site_verification %}<meta name="msvalidate.01" content="{{ site.bing_site_verification }}">{% endif %}
